.background {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    filter: blur(2.5px);
    margin: 0;
    padding: 0;
}
.screen {
    // position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}
/* .content {
    // position: absolute;
} */
.mainBody {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}
.qrCodeContainer {
    //position: absolute;
    //bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    margin: 0;
}
.imageQR {
    background-image: url('https://k8s.az-chayns.space/qrCodeGenerator/svg?value=https%3A%2F%2Fchayns.cc%2Fdnrvam&color=005EB8&text=Spenden&icon=TobitLogo');
    height: 30vh;
    width: 30vh;
    margin: auto;
}
.textQR {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2.25vw;
}
.thanks {
    text-align: center;
    font-size: 2.5vw;
    animation: blink 2s infinite alternate;
}
@keyframes blink {
    from {transform: scale(1)}
    to {transform: scale(1.5)}
}
.list {
    font-size: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    height: 70vh;
    padding: 0;
    margin: 0;
}
.listPersonDiv {
    height: 50vh;
    display: flex;
    align-content: center;
    justify-content: center;

}
.listItem {
    .list-item__image {
        width: 5vw;
        height: 5vw;
    }
    overflow: hidden;
    width: 27.5vw;
    text-overflow: ellipsis;
    font-size: 2vw;
}